{{!-- The following component displays Ember's default welcome message. --}}
{{!-- {{welcome-page}} --}}
{{!-- Feel free to remove this! --}}
  <body style="width: 550px;">
    <section id="todoapp">
      <header id="header">
        <h1>todos</h1>
        {{!-- Adding a todo to the todoList model --}}
        {{input type="text" id="new-todo" placeholder="Add a todo to todoList" value=newTitle insert-newline=(action "addTodo")}}
      </header>
      <section id="main">
        <ul id="todo-list">
          {{!-- looping through the model, and displaying the title of each --}}
          {{#each model as |todo|}}
          {{!-- if completed then toggle it, else dont toggle --}}
            <li class={{if todo.isCompleted "completed" "toggle"}}>
            {{input type="checkbox" class="toggle" checked=todo.isCompleted}}
            <label>{{todo.title}}</label>
           {{!-- If this todo needs to be removed, then call removeTodo with the id to delete it--}}
            <button {{action "removeTodo" todo.id}} class="destroy"></button>
          </li>
          {{/each}}
        </ul>
      </section>
    </section>
  </body>
{{outlet}}